<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.select :group_id, options_for_select(current_user.groups.collect { |u| [u.name, u.id]}),

                          { :include_blank => 'None',
                            :multiple => true,
                            :size => 5}
    %>
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
